In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("online_retail_customer_churn.csv")

In [3]:
df.head()

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
0,1,62,Other,45.15,5892.58,5,22,453.80,2,0,3,129,True,Responded,True
1,2,65,Male,79.51,9025.47,13,77,22.90,2,2,3,227,False,Responded,False
2,3,18,Male,29.19,618.83,13,71,50.53,5,2,2,283,False,Responded,True
3,4,21,Other,79.63,9110.30,3,33,411.83,5,3,5,226,True,Ignored,True
4,5,21,Other,77.66,5390.88,15,43,101.19,3,0,5,242,False,Unsubscribed,False

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_ID                 1000 non-null   int64
 1   Age                         1000 non-null   int64
 2   Gender                      1000 non-null   object
 3   Annual_Income               1000 non-null   float64
 4   Total_Spend                 1000 non-null   float64
 5   Years_as_Customer           1000 non-null   int64
 6   Num_of_Purchases            1000 non-null   int64
 7   Average_Transaction_Amount  1000 non-null   float64
 8   Num_of_Returns              1000 non-null   int64
 9   Num_of_Support_Contacts     1000 non-null   int64
 10  Satisfaction_Score          1000 non-null   int64
 11  Last_Purchase_Days_Ago      1000 non-null   int64
 12  Email_Opt_In                1000 non-null   bool
 13  Promotion_Response          1000 non-null   object
 14  Target_Churn                1000 non-null   bool
dtypes: bool(2), float64(3), int64(8), object(2)
memory usage: 103.6+ KB

In [32]:
df.describe()

,Customer_ID,Age,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago
count,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,500.500000,43.267000,111.962960,5080.79265,9.727000,49.456000,266.876530,4.612000,1.934000,2.974000,182.890000
std,288.819436,15.242311,52.844111,2862.12335,5.536346,28.543595,145.873445,2.896869,1.402716,1.391855,104.391319
min,1.000000,18.000000,20.010000,108.94000,1.000000,1.000000,10.460000,0.000000,0.000000,1.000000,1.000000
25%,250.750000,30.000000,67.800000,2678.67500,5.000000,25.000000,139.682500,2.000000,1.000000,2.000000,93.000000
50%,500.500000,43.000000,114.140000,4986.19500,9.000000,49.000000,270.100000,5.000000,2.000000,3.000000,180.500000
75%,750.250000,56.000000,158.452500,7606.47000,14.000000,74.000000,401.602500,7.000000,3.000000,4.000000,274.000000
max,1000.000000,69.000000,199.730000,9999.64000,19.000000,99.000000,499.570000,9.000000,4.000000,5.000000,364.000000

In [33]:
df.isnull().sum()

Customer_ID                   0
Age                           0
Gender                        0
Annual_Income                 0
Total_Spend                   0
Years_as_Customer             0
Num_of_Purchases              0
Average_Transaction_Amount    0
Num_of_Returns                0
Num_of_Support_Contacts       0
Satisfaction_Score            0
Last_Purchase_Days_Ago        0
Email_Opt_In                  0
Promotion_Response            0
Target_Churn                  0
dtype: int64

### Importing required library for futher ML transformations and predictions

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [18]:
df_2 = df.copy()

In [19]:
label_encoder = LabelEncoder()
df_2['Gender'] = label_encoder.fit_transform(df_2['Gender'])
df_2['Promotion_Response'] = label_encoder.fit_transform(df_2['Promotion_Response'])

In [20]:
df_2.head()

,Customer_ID,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Target_Churn
0,1,62,2,45.15,5892.58,5,22,453.80,2,0,3,129,True,1,True
1,2,65,1,79.51,9025.47,13,77,22.90,2,2,3,227,False,1,False
2,3,18,1,29.19,618.83,13,71,50.53,5,2,2,283,False,1,True
3,4,21,2,79.63,9110.30,3,33,411.83,5,3,5,226,True,0,True
4,5,21,2,77.66,5390.88,15,43,101.19,3,0,5,242,False,2,False

In [21]:
X = df_2.drop(['Customer_ID','Target_Churn'], axis = 1)
y = df_2['Target_Churn']

In [22]:
scaler = StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X), columns = X.columns)

In [23]:
y.head(), X_scaled.head()

(0     True
 1    False
 2     True
 3     True
 4    False
 Name: Target_Churn, dtype: bool,
         Age    Gender  Annual_Income  Total_Spend  Years_as_Customer  \
 0  1.229628  1.247718      -1.264973     0.283773          -0.854240
 1  1.426547  0.022062      -0.614434     1.378924           0.591480
 2 -1.658518  0.022062      -1.567145    -1.559749           0.591480
 3 -1.461599  1.247718      -0.612162     1.408578          -1.215669
 4 -1.461599  1.247718      -0.649460     0.108396           0.952910

    Num_of_Purchases  Average_Transaction_Amount  Num_of_Returns  \
 0         -0.962378                    1.282050       -0.902114
 1          0.965463                   -1.673359       -0.902114
 2          0.755153                   -1.483853        0.134005
 3         -0.576810                    0.994191        0.134005
 4         -0.226294                   -1.136392       -0.556741

    Num_of_Support_Contacts  Satisfaction_Score  Last_Purchase_Days_Ago  \
 0                -1.379444            0.018689               -0.516489
 1                 0.047075            0.018689                0.422756
 2                 0.047075           -0.700136                0.959468
 3                 0.760335            1.456339                0.413172
 4                -1.379444            1.456339                0.566518

    Email_Opt_In  Promotion_Response
 0      0.943588           -0.073945
 1     -1.059784           -0.073945
 2     -1.059784           -0.073945
 3      0.943588           -1.306354
 4     -1.059784            1.158465  )

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size = 0.2, random_state = 42)

In [25]:
X_train.head(10), y_train.head(10)

(          Age    Gender  Annual_Income  Total_Spend  Years_as_Customer  \
 29   1.689106 -1.203594       0.646318    -0.890303          -0.492810
 535 -1.133400  1.247718      -0.580354    -0.019891           0.049335
 695 -0.017526 -1.203594       0.716181    -1.654786          -1.396384
 557  0.770150  1.247718      -1.052923     1.187785          -0.854240
 836 -1.658518 -1.203594      -1.641362    -1.528970           1.495055
 596  1.623466  1.247718      -1.383873     1.406680           0.410765
 165  0.310673  1.247718      -0.093585    -0.420780           0.952910
 918  0.245033  1.247718       0.316505    -0.687083           0.410765
 495 -1.264680 -1.203594       0.112596    -0.503848           0.591480
 824 -0.477004 -1.203594      -1.591568    -0.798434           0.591480

      Num_of_Purchases  Average_Transaction_Amount  Num_of_Returns  \
 29          -1.382998                   -1.048189        0.479378
 535         -1.277843                    1.111680       -0.902114
 695          0.264430                   -0.828711        0.824751
 557         -1.488153                   -0.157520       -1.247487
 836         -0.121139                   -0.101691       -0.902114
 596          0.720101                   -1.282894       -1.592861
 165          0.895360                    1.190212        0.479378
 918          0.159275                    1.205164       -0.902114
 495         -0.226294                   -1.235706        0.134005
 824         -1.628360                    1.307015       -1.247487

      Num_of_Support_Contacts  Satisfaction_Score  Last_Purchase_Days_Ago  \
 29                  1.473594           -1.418961               -1.455734
 535                 1.473594            1.456339               -0.736924
 695                -0.666184           -1.418961               -0.113955
 557                 0.760335           -0.700136               -1.494071
 836                -0.666184           -1.418961                1.563268
 596                -0.666184           -0.700136                0.901963
 165                 1.473594            0.737514                0.374835
 918                -0.666184           -1.418961               -1.522823
 495                 1.473594            1.456339                1.726198
 824                 0.760335            0.018689                0.250242

      Email_Opt_In  Promotion_Response
 29      -1.059784            1.158465
 535      0.943588           -1.306354
 695     -1.059784            1.158465
 557     -1.059784            1.158465
 836     -1.059784            1.158465
 596     -1.059784            1.158465
 165      0.943588           -0.073945
 918     -1.059784           -0.073945
 495      0.943588           -0.073945
 824     -1.059784           -0.073945  ,
 29     False
 535    False
 695    False
 557     True
 836     True
 596    False
 165     True
 918     True
 495     True
 824    False
 Name: Target_Churn, dtype: bool)

In [26]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [35]:
rf_model = RandomForestClassifier(random_state = 42)
rf_model.fit(X_train, y_train)
y_pred = (rf_model.predict(X_test))
accuracy = accuracy_score(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
classification_rep

'              precision    recall  f1-score   support\n\n       False       0.51      0.37      0.43        94\n        True       0.55      0.69      0.61       106\n\n    accuracy                           0.54       200\n   macro avg       0.53      0.53      0.52       200\nweighted avg       0.54      0.54      0.53       200\n'

In [28]:
# Prepare predictions for export to CSV
predictions_df = X_test.copy()
predictions_df['Actual_Churn'] = y_test
predictions_df['Predicted_Churn'] = y_pred
predictions_df['Customer_id'] = df['Customer_ID']
# Save the predictions to a CSV file
predictions_df.to_csv('churn_predictions.csv', index=False)

In [29]:
predictions_df.head()

,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Actual_Churn,Predicted_Churn,Customer_id
521,0.573231,1.247718,-1.644392,1.594131,0.230050,1.736599,-1.155048,-1.592861,-0.666184,-1.418961,0.365251,0.943588,1.158465,True,True,522
737,0.507592,1.247718,0.226951,0.453361,-0.312095,-0.646913,-1.519450,0.134005,1.473594,-1.418961,0.451509,0.943588,-1.306354,True,False,738
740,-0.739562,0.022062,-0.827809,-1.228917,1.314340,-0.717017,0.298240,0.134005,-1.379444,0.737514,0.173569,-1.059784,-1.306354,True,True,741
660,-1.592878,-1.203594,-1.719935,-0.543146,0.049335,-0.962378,0.108460,0.824751,-1.379444,-0.700136,-0.209797,-1.059784,-1.306354,True,True,661
411,1.163988,0.022062,0.187192,0.367019,-0.131380,0.334533,-0.140922,0.134005,0.047075,-0.700136,-1.283220,0.943588,1.158465,False,True,412

In [30]:
predictions_df.sort_values("Customer_id")

,Age,Gender,Annual_Income,Total_Spend,Years_as_Customer,Num_of_Purchases,Average_Transaction_Amount,Num_of_Returns,Num_of_Support_Contacts,Satisfaction_Score,Last_Purchase_Days_Ago,Email_Opt_In,Promotion_Response,Actual_Churn,Predicted_Churn,Customer_id
10,0.704511,0.022062,0.510000,-0.278587,0.952910,-0.576810,-1.168216,1.515497,-0.666184,-0.700136,-0.871102,0.943588,-0.073945,False,False,11
23,0.770150,1.247718,0.880142,0.001446,0.410765,1.000515,0.148171,-0.902114,-0.666184,-0.700136,1.342833,-1.059784,1.158465,True,True,24
25,-0.805202,-1.203594,-1.558057,1.141611,-0.673525,0.369585,-0.684679,0.134005,0.047075,-1.418961,-1.417398,0.943588,1.158465,False,True,26
30,-0.608283,0.022062,1.268269,0.717731,1.314340,0.474740,-1.093731,0.824751,-0.666184,0.737514,0.873210,-1.059784,-1.306354,True,True,31
39,1.557826,0.022062,1.210523,-0.271865,1.495055,0.825256,-1.194485,-1.247487,0.047075,1.456339,1.697446,0.943588,-0.073945,False,True,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
985,0.770150,1.247718,0.209344,-0.210045,0.772195,-0.156190,0.667237,-0.211368,0.760335,0.018689,-1.024448,0.943588,1.158465,True,True,986
986,-1.395959,-1.203594,1.308597,-0.031207,1.314340,0.264430,-0.728232,0.134005,-1.379444,0.737514,1.285328,-1.059784,1.158465,True,True,987
989,-0.411364,1.247718,0.241151,0.939429,-0.312095,-1.558257,1.131913,0.824751,0.047075,0.737514,-1.216131,0.943588,1.158465,False,True,990
995,0.704511,0.022062,0.601258,-1.395363,-1.396384,-0.717017,-1.297160,-1.592861,0.760335,-0.700136,-0.909438,0.943588,-1.306354,False,True,996
998,-1.330319,0.022062,-0.738066,-0.415701,-0.492810,-0.646913,1.487810,-1.247487,0.047075,1.456339,-1.225715,-1.059784,-0.073945,True,False,999